master/jade/views/app.jade
// top navbar
.tp_nav(ng-include="'app/views/partials/top-navbar.html'")
// sidebar
nav#sidebar.active(ng-include="'app/views/partials/sidebar.html'")
// Right Sidebar
.dashboard_home.all_stock_graph
  .box9g(ui-view='', autoscroll='false', ng-class='app.viewAnimation')
  .box3g(ng-include="'app/views/partials/stock-company.html'")
  .predict(ng-include="'app/views/partials/company-footer.html'")

app/views/app.html
<!-- top navbar-->
<div class="tp_nav" ng-include="'app/views/partials/top-navbar.html'"></div>
<!-- sidebar-->
<nav class="active" id="sidebar" ng-include="'app/views/partials/sidebar.html'"></nav>
<!-- Right Sidebar-->
<div class="dashboard_home all_stock_graph">
   <div class="box9g" ui-view="" autoscroll="false" ng-class="app.viewAnimation"></div>
   <div class="box3g" ng-include="'app/views/partials/stock-company.html'"></div>
   <div class="predict" ng-include="'app/views/partials/company-footer.html'"></div>
</div>
