master/jade/views/partials/company-footer.jade
.box9g
  .accu_profit
    ul
      li
        h3 Accuracy:
        .inn_li
          h4
            small Price
            span
              | 98.71%
              img(src='app/img/icon/price.png')
          h4
            small Trend
            span
              | 100.00%
              img(src='app/img/icon/trend.png')
        // inn_li
      li
        h3
          | Today Income:
          span
            img(src='app/img/icon/money-bag.png')
        .inn_li
          span#graph
            img.img-responsive(src='app/img/icon/today-in.png')
          .today_last
            span#today
              h4 Today
              h5 $230.00
            span#l_week
              h4 Last Week
              h5 $7980.60
          // today_last
        // inn_li
      li
        h3
          | Stats:
          span
            img(src='app/img/icon/stats.png')
        .inn_li
          h6
            small Bid
            span 73.55
          h6
            small Ask
            span 142.00
          h6
            small High
            span 145.00
          h6
            small Low
            span 142.01
        // inn_li
      li
        h3
          | Advice:
          span
            img(src='app/img/icon/advice.png')
        .inn_li
          a(href='#')
            i.fa.fa-pause(aria-hidden='true')
            | Hold
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        // inn_li
  // accu_profit
.box3g
  .profit
    h3 Profit:
    h4 90%
    small +$2.68

app/views/partials/company-footer.html
<div class="box9g">
   <div class="accu_profit">
      <ul>
         <li>
            <h3>Accuracy:</h3>
            <div class="inn_li">
               <h4>
                  <small>Price</small>
                  <span>98.71%
                     <img src="app/img/icon/price.png" />
                  </span>
               </h4>
               <h4>
                  <small>Trend</small>
                  <span>100.00%
                     <img src="app/img/icon/trend.png" />
                  </span>
               </h4>
            </div>
            <!-- inn_li-->
         </li>
         <li>
            <h3>Today Income:
               <span>
                  <img src="app/img/icon/money-bag.png" />
               </span>
            </h3>
            <div class="inn_li">
               <span id="graph">
                  <img class="img-responsive" src="app/img/icon/today-in.png" />
               </span>
               <div class="today_last">
                  <span id="today">
                     <h4>Today</h4>
                     <h5>$230.00</h5>
                  </span>
                  <span id="l_week">
                     <h4>Last Week</h4>
                     <h5>$7980.60</h5>
                  </span>
               </div>
               <!-- today_last-->
            </div>
            <!-- inn_li-->
         </li>
         <li>
            <h3>Stats:
               <span>
                  <img src="app/img/icon/stats.png" />
               </span>
            </h3>
            <div class="inn_li">
               <h6>
                  <small>Bid</small>
                  <span>73.55</span>
               </h6>
               <h6>
                  <small>Ask</small>
                  <span>142.00</span>
               </h6>
               <h6>
                  <small>High</small>
                  <span>145.00</span>
               </h6>
               <h6>
                  <small>Low</small>
                  <span>142.01</span>
               </h6>
            </div>
            <!-- inn_li-->
         </li>
         <li>
            <h3>Advice:
               <span>
                  <img src="app/img/icon/advice.png" />
               </span>
            </h3>
            <div class="inn_li"><a href="#"><i class="fa fa-pause" aria-hidden="true"></i>Hold</a>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <!-- inn_li-->
         </li>
      </ul>
   </div>
   <!-- accu_profit-->
</div>
<div class="box3g">
   <div class="profit">
      <h3>Profit:</h3>
      <h4>90%</h4>
      <small>+$2.68</small>
   </div>
</div>
